<div class="container">
    <form action="" class="row mt-5">
        <div class="col-9">
            <select class="form-select" aria-label="Default select example">
                  <option selected disabled>Selecciona el país</option>
                  <option value="mexico">Mexico</option>
                </select>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="consultaDatos()">Consultar</button>
        </div>
    </form>
</div>